@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: sans-serif;
}

.section-padding {
  padding: 120px 32px;
}

.gradient-text {
  background: linear-gradient(to right, #915EFF, #00F5FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}